new rules dua lipa
believer imagine dragons
danny ocean me rehuso
know no better major lazer
the head I hold
arround the world kigs of leon
there's nothing holding me back shawn mendes 
come my way - delvis
when I hold you the - parakit
whatever it takes imagine dragons 
montain at my gates - foals
skin - rag n bone 
we light the sunshine - hyphen hyphen trinx remix 
tiring game - john newman
lions - skip marley 
downtown - adam nass
Glorious - macklemore kylar grey 
Crying in the club - Camila Cabello 
